<!DOCTYPE html>
<html>
  <head>
    <title>Lista de Requisições</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Interfone Online - Máquina <%= data.requester %></h1>
    <div class="div-requester">
      <form method="post" action="/sendToReceiver">
        <label class="label-requester" for="requester">Solicitante:</label><br>
        <input class="input-requester" readonly="true" name="requester" type="text" id="requester" value="<%=data.requester%>"><br>
        <label class="label-requester" for="msgRequester">Mensagem:</label><br>
        <textarea name="msg" id="msgRequester" rows="3" cols="50"></textarea><br>
        <input class="input-button-requester" type="submit" value="Enviar">
      </form>   
    </div>

    <div class="box-list-requester">
      <button onclick="javascript:window.location.reload()">Atualizar Lista</button>
      <h2>Liste de Solicitações</h2>
    <% data.listReq.forEach((element)=> {
      let colorDiv;
      if (!element.checked) {
        console.log(element);
        colorDiv = "red" 
      } 
        else {
        colorDiv = "green"
        } %>
      <div style="background-color: <%=colorDiv%>;" class="div-list-req">  
      <table>
        <tr>
          <td>Mensagem: <%=element.msg%></td>
        </tr> 
        <tr>
          <td>ID: <%=element.msg%> </td>
          <td>Data Solic.: <%=new Date(element.createdAt).toLocaleString('pt-BR')%></td>
          <td>Data Atend.: <%=new Date(element.updatedAt).toLocaleString('pt-BR')%></td>
          <td>Tempo Ated.:</td>
        </tr>
      </table>
    </div>
    <br>
    <% }) %>
  </div>
  </body>
</html>
